[submodule "Resources/public/yui3"]
	path = Resources/public/yui3
	url = https://github.com/yui/yui3.git
[submodule "Resources/public/yui3-gallery"]
	path = Resources/public/yui3-gallery
	url = https://github.com/yui/yui3-gallery.git
[submodule "Resources/public/2in3"]
	path = Resources/public/2in3
	url = https://github.com/yui/2in3
[submodule "Resources/public/yui3-libbit"]
	path = Resources/public/yui3-libbit
	url = git@gitorious.rednose.nl:yui/yui3-libbit.git
